.welcome-card {
    
    width: 100%;
    display: flex;
    justify-content: center;

    &-wrapper {
        margin: 0;
        padding: 15px 15px;
        border-radius: 10px;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-break: keep-all;

        &:hover {
            box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
        }

        &.small {
            width: 200px;
        }

        &.medium {
            width: 300px;
        }

        &.large {
            width: 100%;
        }

        &.bg-red {
            background-color: #ec202a;
            color: white;
        }

        &.bg-blue {
            background-color: #0b5fff;
            color: white;
        }

        &.bg-white {
            background-color: #fff;
            color: #181A1B;
        }

        h2 {
            margin: 0;
        }
    }
}